* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: grid;
  grid-template-rows: 100px 100px;
}
.container-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}
.row:after {
  clear: both;
  content: "";
  display: table;
}
.box {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 40px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  cursor: pointer;
}
.box:focus {
  outline: none;
}
.box:active {
  background: aquamarine;
}
.cur-def-div>.box {
  cursor: default !important;
}
.game-info {
  margin: 5px 5px 20px;
  text-align: left;
}
.winner-box {
  background-color: aqua;
}
.scoreboard {
  text-align: left;
  margin: 0 0 30px 0;
}
.m-l-15 {
  margin-left: 15px;
}
.reset-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 0 10px;
}
.reset-icon.m-l-15pcnt {
  margin-left: 10%;
}
.score-box {
  justify-content: center;
  display: inline-block;
}
